<div id="<%= dom_id censo_diario %>">
  <p>
    <strong>Secao:</strong>
    <%= censo_diario.secao %>
  </p>

  <p>
    <strong>Leito:</strong>
    <%= censo_diario.leito %>
  </p>

  <p>
    <strong>Boletim:</strong>
    <%= censo_diario.boletim %>
  </p>

  <p>
    <strong>Pulseira:</strong>
    <%= censo_diario.pulseira %>
  </p>

  <p>
    <strong>Prontuario:</strong>
    <%= censo_diario.prontuario %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= censo_diario.paciente %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= censo_diario.sexo %>
  </p>

  <p>
    <strong>Nascimento:</strong>
    <%= censo_diario.nascimento %>
  </p>

  <p>
    <strong>Convenio:</strong>
    <%= censo_diario.convenio %>
  </p>

  <p>
    <strong>Internacao:</strong>
    <%= censo_diario.internacao %>
  </p>

</div>
