<p id="notice"><%= notice %></p>

<h1>Censo Diário</h1>
<%= link_to "Nova lista Censo Diário", new_pacientes_path, :class=> "btn btn-success" %>

<table class="table table-hover my-0">
  <thead>
    <tr>
      <th class="d-none d-xl-table-cell">Seção</th>
      <th class="d-none d-xl-table-cell">Leito</th>
      <th class="d-none d-xl-table-cell">Boletim</th>
      <th class="d-none d-xl-table-cell">Pulseira</th>
      <th class="d-none d-xl-table-cell">Prontuário</th>
      <th class="d-none d-xl-table-cell">Paciente</th>
      <th class="d-none d-xl-table-cell">Sexo</th>
      <th class="d-none d-xl-table-cell">Nascimento</th>
      <th class="d-none d-xl-table-cell">Convênio</th>
      <th class="d-none d-xl-table-cell">Internação</th>
      <th class="d-none d-xl-table-cell" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @censo_diarios.each do |censo_diario| %>
      <tr>
        <td class="d-none d-xl-table-cell"><%= censo_diario.secao %></td>
        <td class="d-none d-xl-table-cell"><%= censo_diario.leito %></td>
        <td class="d-none d-xl-table-cell"><%= censo_diario.boletim %></td>
        <td class="d-none d-xl-table-cell"><%= censo_diario.pulseira %></td>
        <td class="d-none d-xl-table-cell"><%= censo_diario.prontuario %></td>
        <td class="d-none d-xl-table-cell"><%= censo_diario.paciente %></td>
        <td class="d-none d-xl-table-cell"><%= censo_diario.sexo %></td>
        <td class="d-none d-xl-table-cell"><%= censo_diario.nascimento %></td>
        <td class="d-none d-xl-table-cell"><%= censo_diario.convenio %></td>
        <td class="d-none d-xl-table-cell"><%= censo_diario.internacao %></td>
        <td class="d-none d-xl-table-cell"><%= link_to 'Mostrar', censo_diario, class: "btn btn-success" %></td>
        <td class="d-none d-xl-table-cell"><%= link_to 'Editar', edit_censo_diario_path(censo_diario), class: "btn btn-warning" %></td>
        <td class="d-none d-xl-table-cell"><%= link_to 'Apagar', censo_diario, method: :delete, data: { confirm: 'Você está certo disso?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


