<div id="<%= dom_id upa_indicadores_se %>">
  <p>
    <strong>Codigo:</strong>
    <%= upa_indicadores_se.codigo %>
  </p>

  <p>
    <strong>Indicador:</strong>
    <%= upa_indicadores_se.indicador %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= upa_indicadores_se.meta %>
  </p>

  <p>
    <strong>Variavel:</strong>
    <%= upa_indicadores_se.variavel %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= upa_indicadores_se.descricao %>
  </p>

  <p>
    <strong>Medida:</strong>
    <%= upa_indicadores_se.medida %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= upa_indicadores_se.status %>
  </p>

</div>
