<h1>Nova lista Indicadores SES</h1>

<div class="row align-items-center mt-5 mb-5">
    <div class="col-6">
    <h3>Importar lista</h3>
      <%= form_tag import_upa_indicadores_ses_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Importar", :class=> "btn btn-success" %>
      <% end %>
    </div>
    <div class="col-6">
      <h3>Limpar lista Indicadores SES</h3>
      <%= link_to "Limpar lista", remove_all_upa_indicadores_ses_path, :method => :get, class: "btn btn-danger" %>
    </div>
  </div>
<div>
<%= render "form", upa_indicadores_se: @upa_indicadores_se %>
<br>
<div>
  <%= link_to "Voltar para lista", upa_indicadores_ses_path, class: "btn btn-warning" %>
</div>

