<div id="<%= dom_id paciente %>">
  <p>
    <strong>Risco:</strong>
    <%= paciente.risco %>
  </p>

  <p>
    <strong>Tipo entrada:</strong>
    <%= paciente.tipo_entrada %>
  </p>

  <p>
    <strong>Profissional:</strong>
    <%= paciente.profissional %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= paciente.especialidade %>
  </p>

  <p>
    <strong>Linha cuidado:</strong>
    <%= paciente.linha_cuidado %>
  </p>

  <p>
    <strong>Boletim:</strong>
    <%= paciente.boletim %>
  </p>

  <p>
    <strong>Entrada:</strong>
    <%= paciente.entrada %>
  </p>

  <p>
    <strong>Classificacao:</strong>
    <%= paciente.classificacao %>
  </p>

  <p>
    <strong>Encaminhamento:</strong>
    <%= paciente.encaminhamento %>
  </p>

  <p>
    <strong>Atendimento primeira:</strong>
    <%= paciente.atendimento_primeira %>
  </p>

  <p>
    <strong>Inicio atendimento:</strong>
    <%= paciente.inicio_atendimento %>
  </p>

  <p>
    <strong>Fim atendimento:</strong>
    <%= paciente.fim_atendimento %>
  </p>

  <p>
    <strong>Alta:</strong>
    <%= paciente.alta %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= paciente.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= paciente.idade %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= paciente.sexo %>
  </p>

  <p>
    <strong>Raca:</strong>
    <%= paciente.raca %>
  </p>

  <p>
    <strong>Tm atendimento:</strong>
    <%= paciente.tm_atendimento %>
  </p>

  <p>
    <strong>Tm cr:</strong>
    <%= paciente.tm_cr %>
  </p>

  <p>
    <strong>Tm classxatend:</strong>
    <%= paciente.tm_classxatend %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= paciente.meta %>
  </p>

  <p>
    <strong>Cod diag:</strong>
    <%= paciente.cod_diag %>
  </p>

  <p>
    <strong>Diagnostico:</strong>
    <%= paciente.diagnostico %>
  </p>

  <p>
    <strong>Tipo problema:</strong>
    <%= paciente.tipo_problema %>
  </p>

  <p>
    <strong>Motivo alta:</strong>
    <%= paciente.motivo_alta %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= paciente.bairro %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= paciente.municipio %>
  </p>

  <p>
    <strong>Convenio:</strong>
    <%= paciente.convenio %>
  </p>

  <p>
    <strong>Numero sisreg:</strong>
    <%= paciente.numero_sisreg %>
  </p>

</div>
