<p id="notice"><%= notice %></p>

<h1>Pacientes Atendidos</h1>
<%= link_to "Nova lista", new_paciente_path, :class=> "btn btn-success" %>

<table class="table table-hover my-0">
  <thead>
    <tr>
      <th class="d-none d-xl-table-cell">Risco</th>
      <th class="d-none d-xl-table-cell">Tipo Entrada</th>
      <th class="d-none d-xl-table-cell">Profissional</th>
      <th class="d-none d-xl-table-cell">Especialidade</th>
      <th class="d-none d-xl-table-cell">Linha de Cuidado</th>
      <th class="d-none d-xl-table-cell">Boletim</th>
      <th class="d-none d-xl-table-cell">Entrada</th>
      <th class="d-none d-xl-table-cell">Classificação</th>
      <th class="d-none d-xl-table-cell">Encaminhamento</th>
      <th class="d-none d-xl-table-cell">Atendimento (primeira chamada)</th>
      <th class="d-none d-xl-table-cell">Início Atendimento</th>
      <th class="d-none d-xl-table-cell">Alta</th>
      <th class="d-none d-xl-table-cell">Nome</th>
      <th class="d-none d-xl-table-cell">Idade</th>
      <th class="d-none d-xl-table-cell">Sexo</th>
      <th class="d-none d-xl-table-cell">Raça</th>
      <th class="d-none d-xl-table-cell">TM Atend.</th>      
      <th class="d-none d-xl-table-cell">TM CR</th>
      <th class="d-none d-xl-table-cell">TM ClassxAtend</th>
      <th class="d-none d-xl-table-cell">Meta</th>
      <th class="d-none d-xl-table-cell">Cod.Diagnóstico</th>
      <th class="d-none d-xl-table-cell">Diagnóstico</th>
      <th class="d-none d-xl-table-cell">Tipo de Problema</th>
      <th class="d-none d-xl-table-cell">Motivo de Alta</th>
      <th class="d-none d-xl-table-cell">Bairro</th>
      <th class="d-none d-xl-table-cell">Município</th>
      <th class="d-none d-xl-table-cell">Convênio</th>
      <th class="d-none d-xl-table-cell">Número Sisreg</th>
      <th class="d-none d-xl-table-cell" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @pacientes.each do |paciente| %>
      <tr>
        <td class="d-none d-xl-table-cell"><%= paciente.risco %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.tipo_entrada %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.profissional %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.especialidade %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.linha_cuidado %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.boletim %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.entrada %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.classificacao %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.encaminhamento %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.atendimento_primeira %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.inicio_atendimento %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.fim_atendimento %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.alta %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.nome %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.idade %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.sexo %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.raca %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.tm_atendimento %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.tm_cr %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.tm_classxatend %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.meta %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.cod_diag %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.diagnostico %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.tipo_problema %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.motivo_alta %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.bairro %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.municipio %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.convenio %></td>
        <td class="d-none d-xl-table-cell"><%= paciente.numero_sisreg %></td>
        <td class="d-none d-xl-table-cell"><%= link_to 'Mostrar', paciente, class: "btn btn-success" %></td>
        <td class="d-none d-xl-table-cell"><%= link_to 'Editar', edit_paciente_path(paciente), class: "btn btn-warning" %></td>
        <td class="d-none d-xl-table-cell"><%= link_to 'Apagar', paciente, method: :delete, data: { confirm: 'Você está certo disso?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
