<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col mt-0">
                <h5 class="card-title fs-4 fw-bolder text-secondary">CTI 2</h5>
            </div>
            <div class="col-auto">
                <div class="stat text-primary">
                    <i class="align-middle bi bi-heart-pulse-fill" ></i>
                </div>
            </div>
        </div>
        <h1 class="mt-1 mb-3 text-<%= @color_media_tomografia %> "><%= @total_tomografia %></h1>
        <div class="mb-0">
            <span class="text-<%= @color_media_tomografia %>"> <i class="mdi mdi-arrow-bottom-right"></i> <%= @media_tomografia * -1 %>% </span>
            <span class="text-muted"><%= @text_media_tomografia %> da média prevista</span>
        </div>
    </div>
</div>