<div id="<%= dom_id production_by_specialty %>">
  <p>
    <strong>Specialty:</strong>
    <%= production_by_specialty.specialty %>
  </p>

  <p>
    <strong>Foreseen:</strong>
    <%= production_by_specialty.foreseen %>
  </p>

  <p>
    <strong>Accomplished:</strong>
    <%= production_by_specialty.accomplished %>
  </p>

  <p>
    <strong>Performed per cent:</strong>
    <%= production_by_specialty.performed_per_cent %>
  </p>

</div>
