<p id="notice"><%= notice %></p>

<h1>Produção por especialidade</h1>

<%= link_to "Nova lista de Produção por especialidade", new_production_by_specialty_path, :class=> "btn btn-success" %>

<table class="table table-hover my-0">
  <thead>
    <tr>
      <th class="d-none d-xl-table-cell" class="d-none d-xl-table-cell">ESPECIALIDADE</th>
      <th class="d-none d-xl-table-cell" class="d-none d-xl-table-cell">PREVISTO</th>
      <th class="d-none d-xl-table-cell" class="d-none d-xl-table-cell">REALIZADO</th>
      <th class="d-none d-xl-table-cell" class="d-none d-xl-table-cell">%REALIZADO </th>
      <th class="d-none d-xl-table-cell" class="d-none d-xl-table-cell" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @production_by_specialties.each do |production_by_specialty| %>
      <tr>
        <td class="d-none d-xl-table-cell"><%= production_by_specialty.specialty %></td>
        <td class="d-none d-xl-table-cell"><%= production_by_specialty.foreseen %></td>
        <td class="d-none d-xl-table-cell"><%= production_by_specialty.accomplished %></td>
        <td class="d-none d-xl-table-cell"><%= production_by_specialty.performed_per_cent %></td>
        <td class="d-none d-xl-table-cell"><%= link_to 'Show', production_by_specialty, class: "btn btn-success" %></td>
        <td class="d-none d-xl-table-cell"><%= link_to 'Edit', edit_production_by_specialty_path(production_by_specialty), class: "btn btn-warning" %></td>
        <td class="d-none d-xl-table-cell"><%= link_to 'Destroy', production_by_specialty, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



