<h1>New production by specialty</h1>

<div class="row align-items-center mt-5 mb-5">
    <div class="col-6">
    <h3>Importar lista</h3>
      <%= form_tag import_production_by_specialties_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Importar", :class=> "btn btn-success" %>
      <% end %>
    </div>
    <div class="col-6">
      <h3>Limpar lista de ramais</h3>
      <%= link_to "Limpar lista", remove_all_production_by_specialties_path, :method => :get, class: "btn btn-danger" %>
    </div>
  </div>
<div>

<%= render "form", production_by_specialty: @production_by_specialty %>

<br>

<div>
  <%= link_to "Back to production by specialties", production_by_specialties_path, class: "btn btn-warning" %>
</div>
