<div class="wrapper">
	<%= render 'welcome/layout/side_bar' %>

	<div class="main">
		<%= render 'welcome/layout/nav' %>

		<main class="content">
			<div class="container-fluid p-0">
				<% flash.each do |key, message| %>
				<div class="alert <%= flash_class(key) %> alert-dismissible fade show text-center" role="alert">
					<%= message %>
					<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true"></span>
					</button>
				</div>
				<% end %>

				<div class="mb-3">
					<h1 class="h1 d-inline align-middle">Produção por Especialidades</h1>
				</div>
				<div class="row">
					<h3>Nova lista Produção por Especialidades</h3>
					<div class="row align-items-center mt-5 mb-5">
						<div class="col-6">
						<h3>Limpar lista Produção por Especialidades</h3>
						<p class="text-secondary">Antes de importar a lista você deverá limpar a lista existente.</p>
                  		<%= link_to "Limpar lista", remove_all_production_by_specialties_path, :method => :get, class: "btn btn-danger" %>
						</div>
						<div class="col-6">
							<h3>Importar lista</h3>
							<p class="text-secondary">Para exportar a planilha, você deverá acessar o TI Med - HEGV, em seguida clicar na aba "RELATÓRIOS" <strong>-></strong> "Internação" <strong>-></strong> "Produção por Especialidades" <strong>-></strong> em período selecionar "MÊS ATUAL" <strong>-></strong> clicar em "APLICAR" <strong>-></strong> exportar Excel.</p>
							<%= form_tag import_production_by_specialties_path, multipart: true do %>
								<%= file_field_tag :file %>
								<%= submit_tag "Importar", :class=> "btn btn-success" %>
							<% end %>
						</div>
					</div>
				<div>
				
				<br>
			<div>
				
			</div>
		</main>
		<%= render 'welcome/layout/footer' %>
	</div>
</div>


