<p id="notice"><%= notice %></p>

<%= render @production_by_specialty %>

<div>
  <%= link_to "Editar", edit_production_by_specialty_path(@production_by_specialty) %> |
  <%= link_to "Voltar", production_by_specialties_path %>

  <%= button_to "Apagar", @production_by_specialty, method: :delete %>
</div>
