<div id="<%= dom_id computed_tomography %>">
  <p>
    <strong>Date:</strong>
    <%= computed_tomography.date %>
  </p>

  <p>
    <strong>Exam:</strong>
    <%= computed_tomography.exam %>
  </p>

  <p>
    <strong>Sigtap code:</strong>
    <%= computed_tomography.sigtap_code %>
  </p>

  <p>
    <strong>Released by:</strong>
    <%= computed_tomography.released_by %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= computed_tomography.release_date %>
  </p>

  <p>
    <strong>Requesting section:</strong>
    <%= computed_tomography.requesting_section %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= computed_tomography.amount %>
  </p>

  <p>
    <strong>Number of reviews:</strong>
    <%= computed_tomography.number_of_reviews %>
  </p>

  <p>
    <strong>Procedure:</strong>
    <%= computed_tomography.procedure %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= computed_tomography.value %>
  </p>

</div>
