<%= form_with(model: computed_tomography) do |form| %>
  <% if computed_tomography.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(computed_tomography.errors.count, "error") %> proibiu que esta lista fosse salva:</h2>

      <ul>
        <% computed_tomography.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-3">
      <%= form.label :data, style: "display: block", class: "form-label" %>
      <%= form.datetime_field :date, class: "form-label" %>
    </div>

    <div class="col-3">
      <%= form.label :exame, style: "display: block", class: "form-label" %>
      <%= form.text_field :exam, class: "form-label" %>
    </div>

    <div class="col-3">
      <%= form.label :sigtap, style: "display: block", class: "form-label" %>
      <%= form.text_field :sigtap_code, class: "form-label" %>
    </div>

    <div class="col-3">
      <%= form.label :liberado_por, style: "display: block", class: "form-label" %>
      <%= form.text_field :released_by, class: "form-label" %>
    </div>

    <div class="col-3">
      <%= form.label :data_de_liberação, style: "display: block", class: "form-label" %>
      <%= form.datetime_field :release_date, class: "form-label" %>
    </div>

    <div class="col-3">
      <%= form.label :seção_solicitante, style: "display: block", class: "form-label" %>
      <%= form.text_field :requesting_section, class: "form-label" %>
    </div>

    <div class="col-3">
      <%= form.label :quantidade, style: "display: block", class: "form-label" %>
      <%= form.number_field :amount, class: "form-label" %>
    </div>

    <div class="col-3">
      <%= form.label :quantidade_de_revisões, style: "display: block", class: "form-label" %>
      <%= form.number_field :number_of_reviews, class: "form-label" %>
    </div>

    <div class="col-3">
      <%= form.label :procedimento, style: "display: block", class: "form-label" %>
      <%= form.text_field :procedure, class: "form-label" %>
    </div>

    <div class="col-3">
      <%= form.label :valor, style: "display: block", class: "form-label" %>
      <%= form.number_field :value, class: "form-label" %>
    </div>

    <div>
      <%= form.submit class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
