<div id="<%= dom_id hojeqtdatendimento %>">
  <p>
    <strong>Ano/mês:</strong>
    <%= hojeqtdatendimento.ano_mes %>
  </p>

  <p>
    <strong>Registrados:</strong>
    <%= hojeqtdatendimento.registrados %>
  </p>

  <p>
    <strong>Classificados:</strong>
    <%= hojeqtdatendimento.classificados %>
  </p>

  <p>
    <strong>Atendidos:</strong>
    <%= hojeqtdatendimento.atendidos %>
  </p>

  <p>
    <strong>Acolhidos:</strong>
    <%= hojeqtdatendimento.acolhidos %>
  </p>

  <p>
    <strong>Tm atendimento:</strong>
    <%= hojeqtdatendimento.tm_atendimento %>
  </p>

  <p>
    <strong>Tm verde:</strong>
    <%= hojeqtdatendimento.tm_verde %>
  </p>

  <p>
    <strong>Verde meta:</strong>
    <%= hojeqtdatendimento.verde_meta %>
  </p>

  <p>
    <strong>Verde fora meta:</strong>
    <%= hojeqtdatendimento.verde_fora_meta %>
  </p>

  <p>
    <strong>Tm amarelo:</strong>
    <%= hojeqtdatendimento.tm_amarelo %>
  </p>

  <p>
    <strong>Amarelo meta:</strong>
    <%= hojeqtdatendimento.amarelo_meta %>
  </p>

  <p>
    <strong>Amarelo fora meta:</strong>
    <%= hojeqtdatendimento.amarelo_fora_meta %>
  </p>

  <p>
    <strong>Vermelho meta:</strong>
    <%= hojeqtdatendimento.vermelho_meta %>
  </p>

  <p>
    <strong>Vermelho fora meta:</strong>
    <%= hojeqtdatendimento.vermelho_fora_meta %>
  </p>

</div>
