<p style="color: green"><%= notice %></p>

<%= render @hojeqtdatendimento %>

<div>
  <%= link_to "Edit this hojeqtdatendimento", edit_hojeqtdatendimento_path(@hojeqtdatendimento) %> |
  <%= link_to "Back to hojeqtdatendimentos", hojeqtdatendimentos_path %>

  <%= button_to "Destroy this hojeqtdatendimento", @hojeqtdatendimento, method: :delete %>
</div>
