<div id="<%= dom_id consolidado %>">
  <p>
    <strong>Leitos:</strong>
    <%= consolidado.leitos %>
  </p>

  <p>
    <strong>Leitos extra:</strong>
    <%= consolidado.leitos_extra %>
  </p>

  <p>
    <strong>Leitos dia:</strong>
    <%= consolidado.leitos_dia %>
  </p>

  <p>
    <strong>Pacientes dia:</strong>
    <%= consolidado.pacientes_dia %>
  </p>

  <p>
    <strong>Internados:</strong>
    <%= consolidado.internados %>
  </p>

  <p>
    <strong>Total de entradas:</strong>
    <%= consolidado.total_de_entradas %>
  </p>

  <p>
    <strong>Altas:</strong>
    <%= consolidado.altas %>
  </p>

  <p>
    <strong>Transf externa:</strong>
    <%= consolidado.transf_externa %>
  </p>

  <p>
    <strong>Obito maior:</strong>
    <%= consolidado.obito_maior %>
  </p>

  <p>
    <strong>Obito menor:</strong>
    <%= consolidado.obito_menor %>
  </p>

  <p>
    <strong>Total de saidas:</strong>
    <%= consolidado.total_de_saidas %>
  </p>

  <p>
    <strong>Mpd:</strong>
    <%= consolidado.mpd %>
  </p>

  <p>
    <strong>Toco:</strong>
    <%= consolidado.toco %>
  </p>

  <p>
    <strong>Toch:</strong>
    <%= consolidado.toch %>
  </p>

  <p>
    <strong>Mpe:</strong>
    <%= consolidado.mpe %>
  </p>

  <p>
    <strong>Tmg:</strong>
    <%= consolidado.tmg %>
  </p>

  <p>
    <strong>Tmi:</strong>
    <%= consolidado.tmi %>
  </p>

  <p>
    <strong>Ir:</strong>
    <%= consolidado.ir %>
  </p>

</div>
