<div class="wrapper">
	<%= render 'welcome/layout/side_bar' %>

	<div class="main">
		<%= render 'welcome/layout/nav' %>

		<main class="content">
			<div class="container-fluid p-0">
				<% flash.each do |key, message| %>
				<div class="alert <%= flash_class(key) %> alert-dismissible fade show text-center" role="alert">
					<%= message %>
					<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true"></span>
					</button>
				</div>
				<% end %>

				<div class="mb-3">
					<h1 class="h1 d-inline align-middle">Censo Consolidado</h1>
				</div>
				<div class="row">
					<h3>Nova lista Censo Consolidado</h3>
					<div class="row align-items-center mt-5 mb-5">
						<div class="col-6">
						<h3>Limpar lista Censo Consolidado</h3>
						<p class="text-secondary">Antes de importar a lista você deverá limpar a lista existente.</p>
						<%= link_to "Limpar lista", remove_all_consolidados_path, :method => :get, class: "btn btn-danger" %>
						</div>
						<div class="col-6">
							<h3>Importar lista</h3>
							<p class="text-secondary">Para exportar a planilha, você deverá acessar o TI Med - HEGV, em seguida clicar na aba "CENSO" <strong>-></strong> "Estatísticas" <strong>-></strong> em período selecionar "MÊS ATUAL" <strong>-></strong> tipo de Censo selecionar "CONSOLIDADO" <strong>-></strong> clicar em "Pesquisar" <strong>-></strong> exportar Excel.</p>
							<%= form_tag import_consolidados_path, multipart: true do %>
								<%= file_field_tag :file %>
								<%= submit_tag "Importar", :class=> "btn btn-success" %>
							<% end %>
						</div>
					</div>
				<div>
				<table class="table table-hover my-0">
					<thead>
						<tr>
						<th class="d-none d-xl-table-cell">Leitos</th>
						<th class="d-none d-xl-table-cell">Leitos Extra</th>
						<th class="d-none d-xl-table-cell">Leitos/Dia</th>
						<th class="d-none d-xl-table-cell">Pacientes/Dia</th>
						<th class="d-none d-xl-table-cell">Internados</th>
						<th class="d-none d-xl-table-cell">Total de Entradas</th>
						<th class="d-none d-xl-table-cell">Altas</th>
						<th class="d-none d-xl-table-cell">Transf. Externa</th>
						<th class="d-none d-xl-table-cell">Óbito >= 24</th>
						<th class="d-none d-xl-table-cell">Óbito < 24</th>
						<th class="d-none d-xl-table-cell">Tot. Saídas</th>
						<th class="d-none d-xl-table-cell">MPD</th>
						<th class="d-none d-xl-table-cell">TOCO</th>
						<th class="d-none d-xl-table-cell">TOCH</th>
						<th class="d-none d-xl-table-cell">MPe</th>
						<th class="d-none d-xl-table-cell">TMG</th>
						<th class="d-none d-xl-table-cell">TMI</th>      
						<th class="d-none d-xl-table-cell">IR</th>
						</tr>
					</thead>

					<tbody>
					<% @consolidados.each do |consolidado| %>
						<tr>
							<td class="d-none d-xl-table-cell"><%= consolidado.leitos %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.leitos_extra %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.leitos_dia %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.pacientes_dia %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.internados %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.total_de_entradas %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.altas %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.transf_externa %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.obito_maior %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.obito_menor %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.total_de_saidas %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.mpd %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.toco %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.toch %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.mpe %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.tmg %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.tmi %></td>
							<td class="d-none d-xl-table-cell"><%= consolidado.ir %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<br>
			<div>
				
			</div>
		</main>

		<%= render 'welcome/layout/footer' %>
	</div>
</div>

