<div id="<%= dom_id censo_setor %>">
  <p>
    <strong>Secao:</strong>
    <%= censo_setor.secao %>
  </p>

  <p>
    <strong>Leitos:</strong>
    <%= censo_setor.leitos %>
  </p>

  <p>
    <strong>Leitos extra:</strong>
    <%= censo_setor.leitos_extra %>
  </p>

  <p>
    <strong>Leitos dia:</strong>
    <%= censo_setor.leitos_dia %>
  </p>

  <p>
    <strong>Pacientes dia:</strong>
    <%= censo_setor.pacientes_dia %>
  </p>

  <p>
    <strong>Internados:</strong>
    <%= censo_setor.internados %>
  </p>

  <p>
    <strong>Transf interna entradas:</strong>
    <%= censo_setor.transf_interna_entradas %>
  </p>

  <p>
    <strong>Total de entradas:</strong>
    <%= censo_setor.total_de_entradas %>
  </p>

  <p>
    <strong>Altas:</strong>
    <%= censo_setor.altas %>
  </p>

  <p>
    <strong>Transf externa:</strong>
    <%= censo_setor.transf_externa %>
  </p>

  <p>
    <strong>Obito maior:</strong>
    <%= censo_setor.obito_maior %>
  </p>

  <p>
    <strong>Obito menor:</strong>
    <%= censo_setor.obito_menor %>
  </p>

  <p>
    <strong>Transf interna saida:</strong>
    <%= censo_setor.transf_interna_saida %>
  </p>

  <p>
    <strong>Total de saidas:</strong>
    <%= censo_setor.total_de_saidas %>
  </p>

  <p>
    <strong>Mpd:</strong>
    <%= censo_setor.mpd %>
  </p>

  <p>
    <strong>Toco:</strong>
    <%= censo_setor.toco %>
  </p>

  <p>
    <strong>Toch:</strong>
    <%= censo_setor.toch %>
  </p>

  <p>
    <strong>Mpe:</strong>
    <%= censo_setor.mpe %>
  </p>

  <p>
    <strong>Tmg:</strong>
    <%= censo_setor.tmg %>
  </p>

  <p>
    <strong>Tmi:</strong>
    <%= censo_setor.tmi %>
  </p>

  <p>
    <strong>Ir:</strong>
    <%= censo_setor.ir %>
  </p>

</div>
