<p id="notice"><%= notice %></p>

<h1>Censo por Setor</h1>
<%= link_to "Nova lista Censo Consolidado", new_censo_setor_path, :class=> "btn btn-success" %>

<table class="table table-hover my-0">
  <thead>
    <tr>
      <th class="d-none d-xl-table-cell">Seção</th>
      <th class="d-none d-xl-table-cell">Leitos</th>
      <th class="d-none d-xl-table-cell">Leitos Extra</th>
      <th class="d-none d-xl-table-cell">Leitos/Dia</th>
      <th class="d-none d-xl-table-cell">Pacientes/Dia</th>
      <th class="d-none d-xl-table-cell">Internados</th>
      <th class="d-none d-xl-table-cell">Transf. Int. Entrada</th>
      <th class="d-none d-xl-table-cell">Total de Entradas</th>
      <th class="d-none d-xl-table-cell">Altas</th>
      <th class="d-none d-xl-table-cell">Transf. Externa</th>
      <th class="d-none d-xl-table-cell">Óbito >= 24</th>
      <th class="d-none d-xl-table-cell">Óbito < 24</th>
      <th class="d-none d-xl-table-cell">Transf. Int. Saída</th>
      <th class="d-none d-xl-table-cell">Tot. Saídas</th>
      <th class="d-none d-xl-table-cell">MPD</th>
      <th class="d-none d-xl-table-cell">TOCO</th>
      <th class="d-none d-xl-table-cell">TOCH</th>
      <th class="d-none d-xl-table-cell">MPe</th>
      <th class="d-none d-xl-table-cell">TMG</th>
      <th class="d-none d-xl-table-cell">TMI</th>      
      <th class="d-none d-xl-table-cell">IR</th>
      <th class="d-none d-xl-table-cell" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @censo_setors.each do |censo_setor| %>
      <tr>
        <td class="d-none d-xl-table-cell"><%= censo_setor.secao %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.leitos %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.leitos_extra %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.leitos_dia %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.pacientes_dia %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.internados %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.transf_interna_entradas %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.total_de_entradas %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.altas %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.transf_externa %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.obito_maior %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.obito_menor %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.transf_interna_saida %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.total_de_saidas %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.mpd %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.toco %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.toch %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.mpe %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.tmg %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.tmi %></td>
        <td class="d-none d-xl-table-cell"><%= censo_setor.ir %></td>
        <td class="d-none d-xl-table-cell"><%= link_to 'Mostrar', censo_setor, class: "btn btn-success" %></td>
        <td class="d-none d-xl-table-cell"><%= link_to 'Editar', edit_censo_setor_path(censo_setor), class: "btn btn-warning" %></td>
        <td class="d-none d-xl-table-cell"><%= link_to 'Apagar', censo_setor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>