<p id="notice"><%= notice %></p>

<%= render @censo_setor %>

<div>
  <%= link_to "Editar", edit_censo_setor_path(@censo_setor) %> |
  <%= link_to "Voltar", censo_setors_path %>

  <%= button_to "Apagar", @censo_setor, method: :delete %>
</div>
