<div id="<%= dom_id amount_of_upa_service %>">
  <p>
    <strong>Year month:</strong>
    <%= amount_of_upa_service.year_month %>
  </p>

  <p>
    <strong>Registered:</strong>
    <%= amount_of_upa_service.registered %>
  </p>

  <p>
    <strong>Classified:</strong>
    <%= amount_of_upa_service.classified %>
  </p>

  <p>
    <strong>Attended:</strong>
    <%= amount_of_upa_service.attended %>
  </p>

  <p>
    <strong>Welcomed:</strong>
    <%= amount_of_upa_service.welcomed %>
  </p>

  <p>
    <strong>Service time:</strong>
    <%= amount_of_upa_service.service_time %>
  </p>

  <p>
    <strong>Green time:</strong>
    <%= amount_of_upa_service.green_time %>
  </p>

  <p>
    <strong>Green in the goal:</strong>
    <%= amount_of_upa_service.green_in_the_goal %>
  </p>

  <p>
    <strong>Green off target:</strong>
    <%= amount_of_upa_service.green_off_target %>
  </p>

  <p>
    <strong>Yellow time:</strong>
    <%= amount_of_upa_service.yellow_time %>
  </p>

  <p>
    <strong>Yellow in the goal:</strong>
    <%= amount_of_upa_service.yellow_in_the_goal %>
  </p>

  <p>
    <strong>Yellow off target:</strong>
    <%= amount_of_upa_service.yellow_off_target %>
  </p>

  <p>
    <strong>Red in the goal:</strong>
    <%= amount_of_upa_service.red_in_the_goal %>
  </p>

  <p>
    <strong>Red off target:</strong>
    <%= amount_of_upa_service.red_off_target %>
  </p>

</div>
