<p id="notice"><%= notice %></p>

<h1>Quantidade de atendimento</h1>

<%= link_to "New amount of upa service", new_amount_of_upa_service_path, :class=> "btn btn-success" %>

<table class="table table-hover my-0">
  <thead>
    <tr>
      <th>Ano e mês</th>
      <th>Regist</th>
      <th>Classific</th>
      <th>Atendidos</th>
      <th>Acolhidos</th>
      <th>TM Atend</th>
      <th>TM Verde</th>
      <th>Verde na meta</th>
      <th>Verde fora da meta</th>
      <th>TM Amarelo</th>
      <th>Amarelo na meta</th>
      <th>Amarelo fora da meta</th>
      <th>Vermelho na meta</th>
      <th>Vermelho fora da meta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @amount_of_upa_services.each do |amount_of_upa_service| %>
      <tr>
        <td><%= amount_of_upa_service.year_month %></td>
        <td><%= amount_of_upa_service.registered %></td>
        <td><%= amount_of_upa_service.classified %></td>
        <td><%= amount_of_upa_service.attended %></td>
        <td><%= amount_of_upa_service.welcomed %></td>
        <td><%= amount_of_upa_service.service_time %></td>
        <td><%= amount_of_upa_service.green_time %></td>
        <td><%= amount_of_upa_service.green_in_the_goal %></td>
        <td><%= amount_of_upa_service.green_off_target %></td>
        <td><%= amount_of_upa_service.yellow_time %></td>
        <td><%= amount_of_upa_service.yellow_in_the_goal %></td>
        <td><%= amount_of_upa_service.yellow_off_target %></td>
        <td><%= amount_of_upa_service.red_in_the_goal %></td>
        <td><%= amount_of_upa_service.red_off_target %></td>
        <td><%= link_to 'Show', amount_of_upa_service, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_amount_of_upa_service_path(amount_of_upa_service), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', amount_of_upa_service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
