<main class="content">
    <div class="container-fluid p-0">
        <div class="row justify-content-between">
			<div class="col-12 col-lg-3">
				<div class="mb-4">
					<h1 class="h3 d-inline align-middle"><%= image_tag("logos/hegv_logo.png", :alt => "rss feed", :width => "120") %></h1>
					<a class="badge bg-dark text-white ms-2" href="upgrade-to-pro.html">Slide 1</a>
				</div>
			</div>
			<div class="col-12 col-lg-3">
				<div class="mb-4">
					<h1 class="h3 d-inline align-middle"><%= image_tag("logos/sec_saude_logo.png", :alt => "rss feed", :width => "100") %></h1>
				</div>
			</div>
		</div>
        <div class="row">
            <div class="col-xl-6 col-xxl-5 d-flex">
                <div class="w-100">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title fs-4 fw-bolder text-secondary">Ocupação Geral</h5>
                                        </div>

                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle bi bi-hospital-fill" ></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 text-<%= @color_consolidado_perm %>"><%= @taxa_ocupacao_operacional %>%</h1>
                                    <div class="mb-0">
                                        <span class="text-muted">Faltando </span>
                                        <span class="text-<%= @color_consolidado_perm %>"><i class="mdi mdi-arrow-bottom-right"></i> <%= @diferenca_da_meta %>% </span>
                                        <span class="text-muted">para atingir a meta</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title fs-4 fw-bolder text-secondary">Clinica Cirúrgica</h5>
                                        </div>

                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle bi bi-person-dash-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 text-<%= @color_consolidado_tmi %>"><%= @taxa_mortalidade_institucional %>%</h1>
                                    <div class="mb-0">
                                        <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i></span>
                                        <span class="text-muted">Meta < ou = 10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title fs-4 fw-bolder text-secondary">Clinica Médica</h5>
                                        </div>

                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle bi bi-heart-pulse-fill" ></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 text-<%= @color_media_tomografia %> "><%= @total_tomografia %></h1>
                                    <div class="mb-0">
                                        <span class="text-<%= @color_media_tomografia %>"> <i class="mdi mdi-arrow-bottom-right"></i> <%= @media_tomografia %>% </span>
                                        <span class="text-muted"><%= @text_media_tomografia %> da média prevista</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title fs-4 fw-bolder text-secondary">Clinica Pediátrica</h5>
                                        </div>

                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle bi bi-hospital-fill" ></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 text-<%= @color_consolidado_perm %>"><%= @taxa_ocupacao_operacional %>%</h1>
                                    <div class="mb-0">
                                        <span class="text-muted">Faltando </span>
                                        <span class="text-<%= @color_consolidado_perm %>"><i class="mdi mdi-arrow-bottom-right"></i> <%= @diferenca_da_meta %>% </span>
                                        <span class="text-muted">para atingir a meta</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-xxl-7">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title fs-4 mb-0 text-secondary"><strong>Produção Assistencial Hospitalar</strong></h5>
                    </div>
                    <div class="card-body py-3">
                        <div class="chart chart-sm" >
                            <canvas id="prodHosp"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-xxl-5 d-flex">
                <div class="w-100">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title fs-4 fw-bolder text-secondary"><strong>CTI 1</strong></h5>
                                        </div>

                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle bi bi-clipboard-plus-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 text-<%= @color_consolidado_mpe %>"><%= @media_permanencia_geral %></h1>
                                    <div class="mb-0">
                                        <span class="text-muted">Meta deverá ser menor que </span>
                                        <span class="text-<%= @color_consolidado_mpe %>"> <i class="mdi mdi-arrow-bottom-right"></i>7 </span>
                                        <span class="text-muted">dias</span>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title fs-4 fw-bolder text-secondary">CTI 2</h5>
                                        </div>
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle bi bi-heart-pulse-fill" ></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 text-<%= @color_media_tomografia %> "><%= @total_tomografia %></h1>
                                    <div class="mb-0">
                                        <span class="text-<%= @color_media_tomografia %>"> <i class="mdi mdi-arrow-bottom-right"></i> <%= @media_tomografia %>% </span>
                                        <span class="text-muted"><%= @text_media_tomografia %> da média prevista</span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-5 d-flex">
                <div class="w-100">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title fs-4 fw-bolder text-secondary"><strong>CTI 3</strong></h5>
                                        </div>

                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle bi bi-clipboard-plus-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 text-<%= @color_media_atendimento %>"><%= @total_atendimento %></h1>
                                    <div class="mb-0">
                                        <span class="text-<%= @color_media_atendimento %>"> <i class="mdi mdi-arrow-bottom-right"></i><%= @media_atendimento %>% </span>
                                        <span class="text-muted"><%= @text_media_atendimento %></span>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col mt-0">
                                            <h5 class="card-title fs-4 fw-bolder text-secondary">CTI 4</h5>
                                        </div>
                                        <div class="col-auto">
                                            <div class="stat text-primary">
                                                <i class="align-middle bi bi-heart-pulse-fill" ></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="mt-1 mb-3 text-<%= @color_media_tomografia %> "><%= @total_tomografia %></h1>
                                    <div class="mb-0">
                                        <span class="text-<%= @color_media_tomografia %>"> <i class="mdi mdi-arrow-bottom-right"></i> <%= @media_tomografia %>% </span>
                                        <span class="text-muted"><%= @text_media_tomografia %> da média prevista</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // setup 
    var data = {
      labels: [<% @production_by_specialties.each do |production_by_specialty| %>"<%= production_by_specialty.specialty %>",<% end %>],
      datasets: [{
        label: 'Meta',
        data: [<% @production_by_specialties.each do |production_by_specialty| %><%= production_by_specialty.foreseen %>,<% end %>],
        backgroundColor: [
          '#3b7ddd'
        ],
        borderColor: [
          '#3b7ddd'
        ],
        borderWidth: 0
      },
      {
        label: 'Realizadas',
        data: [<% @production_by_specialties.each do |production_by_specialty| %><%= production_by_specialty.accomplished %>,<% end %>],
        backgroundColor: [
          '#dc3545'
        ],
        borderColor: [
          '#dc3545'
        ],
        borderWidth: 0
      }]
    };

    // config 
    var config = {
      type: 'bar',
      data,
      options: {
        maintainAspectRatio: false,
        legend: {
            display: true
        },
        indexAxis: 'y',
        scales: {
          yAxes: [{
                gridLines: {
                    display: false
                },
                stacked: false,
                ticks: {
                    stepSize: 20
                }
            }],
            xAxes: [{
                stacked: false,
                gridLines: {
                    color: "transparent"
                }
            }]
        }
      }
    };

    // render init block
    var prodHosp = new Chart(
      document.getElementById('prodHosp'),
      config
    );
</script>

