<main class="content">
    <div class="container-fluid p-0">
        <div class="row justify-content-between">
			<div class="col-12 col-lg-3">
				<div class="mb-4">
					<h1 class="h3 d-inline align-middle"><%= image_tag("logos/hegv_logo.png", :alt => "rss feed", :width => "120") %></h1>
					<a class="badge bg-dark text-white ms-2" href="upgrade-to-pro.html">Slide 2</a>
				</div>
			</div>
			<div class="col-12 col-lg-3">
				<div class="mb-4">
					<h1 class="h3 d-inline align-middle"><%= image_tag("logos/sec_saude_logo.png", :alt => "rss feed", :width => "100") %></h1>
				</div>
			</div>
		</div>
        <div class="row">
            <div class="col-xl-6 col-xxl-5 d-flex">
                <div class="w-100">
                    <div class="row">
                        <div class="col-sm-6">
                            <%= render 'painel/cards/taxa_de_ocupacao_geral' %>
                            <%= render 'painel/cards/tmi' %>
							<%= render 'painel/cards/tmi' %>
                        </div>
                        <div class="col-sm-6">
                            <%= render 'painel/cards/tomografias' %>
                            <%= render 'painel/cards/taxa_de_ocupacao_geral' %>
							<%= render 'painel/cards/taxa_de_ocupacao_geral' %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-xxl-7">
                <%= render 'painel/chart_bars/taxa_de_ocupacao_geral' %>
            </div>
        </div>
    </div>
</main>


