<main class="content">
    <div class="container-fluid p-0">
        <div class="row justify-content-between">
			<div class="col-12 col-lg-3">
				<div class="mb-0">
					<h1 class="h3 d-inline align-middle"><%= image_tag("logos/hegv_logo.png", :alt => "rss feed", :width => "70") %></h1>
					<a class="badge bg-dark text-white ms-2" href="upgrade-to-pro.html">Slide 1</a>
				</div>
			</div>
            <div class="col-12 col-lg-6">
				<div class="mb-0">
					<h1 class="d-inline align-middle text-secondary"><strong>GESTÃO À VISTA DIGITAL: OCUPAÇÃO</strong></h1>
				</div>
			</div>
			<div class="col-12 col-lg-3">
				<div class="mb-0">
					<h1 class="h3 d-inline align-middle"><%= image_tag("logos/sec_saude_logo.png", :alt => "rss feed", :width => "65", class:"float-end mb-0") %></h1>
				</div>
			</div>
		</div>
        <div class="row">
                    <h3 class="d-inline align-middle text-secondary"><strong>Taxa de Ocupação</strong></h3>
            <div class="col-xl-6 col-xxl-5 d-flex">
                <div class="w-100">
                    <div class="row">
                        <div class="col-sm-6">
                            <%= render 'painel/cards/taxa_ocupacao/taxa_de_ocupacao_geral' %>
                            <%= render 'painel/cards/taxa_ocupacao/taxa_de_ocupacao_cti_1' %>
							<%= render 'painel/cards/taxa_ocupacao/taxa_de_ocupacao_cti_3' %>
                            <%= render 'painel/cards/taxa_ocupacao/taxa_de_ocupacao_uti_ped' %>
                        </div>
                        <div class="col-sm-6">
                            <%= render 'painel/cards/taxa_ocupacao/taxa_de_ocupacao_cti_geral' %>
                            <%= render 'painel/cards/taxa_ocupacao/taxa_de_ocupacao_cti_2' %>
                            <%= render 'painel/cards/taxa_ocupacao/taxa_de_ocupacao_cti_4' %>
							<%= render 'painel/cards/taxa_ocupacao/taxa_de_ocupacao_upo' %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-xxl-7">
                <%= render 'painel/chart_bars/taxa_de_ocupacao_geral' %>
            </div>
        </div>
    </div>
</main>


